* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-around {
  justify-content: space-around;
}

.nav {
  height: 70px;
  background-color: rgb(233, 54, 54);
}

@media (max-width: 576px) {
  .nav {
    flex-wrap: wrap;
    height: 140px;
  }
}

.link {
  text-decoration: none;
  color: white;
}

.flex-wrap {
  flex-wrap: wrap;
}

.nav div p {
  color: white;
  font-size: 30px;
  text-align: center;
}

@media (max-width: 576px) {
  .nav div p {
    margin: 5px 0;
  }
}

@media (min-width: 577px) and (max-width: 998px) {
  .nav {
    justify-content: space-around;
  }
  .nav_title {
    width: 60%;
  }
  .nav_search {
    width: 35%;
  }
}

.search {
  border-radius: 10px;
  height: 35px;
  text-align: center;
  width: 500px;
}

@media (max-width: 756px) {
  .search {
    width: 75%;
  }
}
.container {
  background-color: gray;
  min-height: 100vh;
  padding: 10px 0;
}

.movies_container {
  flex-wrap: wrap;
  width: 75%;
}

@media (max-width: 576px) {
  .movies_container {
    width: 90%;
  }
}

.card {
  background-color: honeydew;
  border-radius: 10px;
  height: 400px;
  margin: 10px;
  width: 20%;
}

@media (max-width: 576px) {
  .card {
    width: 45%;
  }
}

.card_poster {
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  height: 75%;
}

.card_poster_details {
  width: 45%;
}

@media (max-width: 576px) {
  .card_poster_details {
    padding: 0 20px;
  }
}

.card_poster_img {
  border-radius: 10px 10px 0 0;
  max-height: 500px;
  object-fit: contain;
  object-position: center;
}

.card_button {
  background-color: rgb(109, 127, 230);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
  width: 80%;
}

.card_button_action {
  width: 45%;
}

.card_button_like {
  background-color: rgb(76, 153, 235);
}

.card_button_dislike {
  background-color: rgb(235, 76, 76);
}

.container_movie {
  justify-content: space-around;
  margin-top: 90px;
}

.container_details {
  border-radius: 10px;
  background-color: rgba(242, 105, 105, 0.25);
  height: 350px;
  width: 45%;
}

@media (max-width: 576px) {
  .container_details {
    height: 600px;
    margin-top: 20px;
    width: 90%;
  }
}

@media (min-width: 577px) and (max-width: 998px) {
  .container_details {
    margin-top: 10px;
    width: 90%;
  }
}

.genre {
  height: 70px;
  justify-content: space-around;
  margin-top: 5px;
}

@media (max-width: 576px) {
  .genre {
    flex-direction: column;
    height: 30%;
    margin: 10px 0;
  }
}

@media (min-width: 577px) and (max-width: 998px) {
  .genre {
    height: 80px;
  }
}

.paragraph {
  background-color: rgb(109, 127, 230);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  color: white;
  height: 20px;
  text-align: center;
  width: 30%;
}

@media (max-width: 576px) {
  .paragraph {
    height: auto;
    padding: 5px 0;
  }
}

@media (min-width: 577px) and (max-width: 998px) {
  .paragraph {
    height: 36px;
  }
}

@media (min-width: 999px) {
  .paragraph {
    height: 48px;
  }
}

.description_container {
  height: auto;
}

.description {
  background-color: rgb(109, 127, 230);
  border-radius: 10px;
  color: white;
  height: auto;
  margin: 20px 10px;
  padding: 10px;
  text-align: center;
}

@media (max-width: 576px) {
  .description {
    padding: 5px;
  }
}

@media (min-width: 577px) and (max-width: 998px) {
  .description {
    margin-top: 20px;
    padding: 15px;
  }
}
